#!/usr/bin/env bash

set -euo pipefail

main() {
  while test $# -gt 0; do
    case "$1" in
      --start)
        firewall_configure_policy
        firewall_flush_chains
        firewall_create_chains
        firewall_add_rules
        shift
        ;;
      --stop)
        firewall_reset_policy
        firewall_flush_chains
        shift
        ;;
      *)
        break
        ;;
    esac
  done
}

firewall_configure_policy() {
  # set default policy for builtin chains
{% for c in linux_firewall__chains_default %}
  iptables --wait 60 --policy {{ c.chain }} {{ c.policy }}
{% endfor %}
}

firewall_reset_policy() {
  # reset policy for builtin chains
{% for c in linux_firewall__chains_default %}
  iptables --wait 60 --policy {{ c.chain }} ACCEPT
{% endfor %}
}

firewall_flush_chains() {
  # flush builtin chains
{% for c in linux_firewall__chains_default %}
{%   if c.flush %}
  iptables --flush {{ c.chain }}
{%   endif %}
{% endfor %}
  # flush and delete custom chains
{% for c in linux_firewall__chains_custom %}
  iptables --flush {{ c.chain }} || true
  iptables --delete-chain {{ c.chain }} || true
{% endfor %}
}

firewall_create_chains() {
  # create custom chains
{% for c in linux_firewall__chains_custom %}
  iptables --new-chain {{ c.chain }} || true
{% endfor %}
}

firewall_add_rules() {
{% for c in linux_firewall__chains_all %}
  # add rules for chain "{{ c.chain }}"
{%   for r in linux_firewall__rules_all %}
{%     if r.chain == c.chain %}
  iptables --append {{ r.chain }}{%
         if r.name is defined %} --match comment --comment "{{ r.name }}"{% endif %}{%
         if r.iface_in is defined %}{% if "!" in r.iface_in %} !{% endif %} --in-interface {{ r.iface_in | replace("!", "") }}{% endif %}{%
         if r.iface_out is defined %}{% if "!" in r.iface_out %} !{% endif %} --out-interface {{ r.iface_out | replace("!", "") }}{% endif %}{%
         if r.ip_src is defined %}{% if "!" in r.ip_src %} !{% endif %} --source {{ r.ip_src | replace("!", "") }}{% endif %}{%
         if r.ip_dest is defined %}{% if "!" in r.ip_dest %} !{% endif %} --destination {{ r.ip_dest | replace("!", "") }}{% endif %}{%
         if r.jump is defined %} --jump {{ r.jump }}{% endif %}{%
         if r.match is defined %}{% if r.match | type_debug != "list" %} --match {{ r.match }}{% else %}{% for m in r.match %} --match {{ m }}{% endfor %}{% endif %}{% endif %}{%
         if r.protocol is defined %}{% if "!" in r.protocol %} !{% endif %} --protocol {{ r.protocol | replace("!", "") }}{% else %} --protocol all{% endif %}{%
         if r.ports_dest is defined or r.ports_src is defined %} --match multiport{%
           if r.ports_src is defined %} --source-ports {{ r.ports_src }}{% endif %}{%
           if r.ports_dest is defined %} --destination-ports {{ r.ports_dest }}{% endif %}{%
         endif %}
         {# protocol must come before multiport #}

{%     endif %}
{%   endfor %}
{%   if c.chain == "INPUT" %}
{%     for i in linux_network__interfaces | default([]) %}
  iptables --append INPUT --match comment --comment "99 forward packages from interface {{ i.device }} to chain {{ i.name | default(i.device) }}" --in-interface {{ i.device }} --jump {{ i.name | default(i.device) }}
{%     endfor %}
{%   endif %}
{%   if not loop.last %}

{%   endif %}
{% endfor %}
}

main "$@"; exit
