[Unit]
Description=Lightweight Kubernetes
Documentation=https://k3s.io
Wants=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=notify
EnvironmentFile=-/etc/default/%N
EnvironmentFile=-/etc/sysconfig/%N
EnvironmentFile=-/etc/systemd/system/k3s.service.env
{% if k3s_setup__proxy_http | length > 0 %}
Environment=HTTP_PROXY={{ k3s_setup__proxy_http }}
{% endif %}
{% if k3s_setup__proxy_https | length > 0 %}
Environment=HTTPS_PROXY={{ k3s_setup__proxy_https }}
{% endif %}
{% if k3s_setup__proxy_no | length > 0 %}
Environment=NO_PROXY={{ k3s_setup__proxy_no }}
{% endif %}
KillMode=process
Delegate=yes
# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
Restart=always
RestartSec=5s
ExecStartPre=/bin/sh -xc '! /usr/bin/systemctl is-enabled --quiet nm-cloud-setup.service 2>/dev/null'
ExecStartPre=-/sbin/modprobe br_netfilter
ExecStartPre=-/sbin/modprobe overlay
{% if k3s_setup__log %}
ExecStartPre=/bin/sh -c 'mkdir -p /var/log/k3s'
ExecStartPre=/bin/sh -c 'echo DATE=$(date +%%Y_%%m_%%d_%%H_%%M_%%S) > /etc/systemd/system/k3s.service.env'
{% endif %}
ExecStart=/usr/local/bin/k3s \
{% if inventory_hostname in k3s_setup__servers %}
  \
  server \
    \
{% if inventory_hostname == k3s_setup__servers[0] %}
    --cluster-init \
{% else %}
    --server https://{{ hostvars[k3s_setup__servers[0]].k3s_setup__interface.addresses[0].address | ansible.utils.ipaddr("address") }}:6443 \
{% endif %}
    \
{% if k3s_setup__cluster_cidr | length > 0 %}
    --cluster-cidr {{ k3s_setup__cluster_cidr }} \
{% endif %}
{% if k3s_setup__cluster_dns | length > 0 %}
    --cluster-dns value	{{ k3s_setup__cluster_dns }} \
{% endif %}
{% if k3s_setup__cluster_domain | length > 0 %}
    --cluster-domain value	{{ k3s_setup__cluster_domain }} \
{% endif %}
    --disable servicelb \
    --disable traefik \
    --embedded-registry \
    --kube-apiserver-arg="admission-control-config-file=/var/lib/rancher/k3s/server/psa.yaml" \
    --kube-apiserver-arg="audit-log-maxage=30" \
    --kube-apiserver-arg="audit-log-maxbackup=10" \
    --kube-apiserver-arg="audit-log-maxsize=100" \
    --kube-apiserver-arg="audit-log-path=/var/lib/rancher/k3s/server/logs/audit.log" \
    --kube-apiserver-arg="audit-policy-file=/var/lib/rancher/k3s/server/audit.yaml" \
    --kube-apiserver-arg="request-timeout=300s" \
    --kube-apiserver-arg="service-account-lookup=true" \
    --kube-controller-manager-arg="terminated-pod-gc-threshold=10" \
    --kube-controller-manager-arg="use-service-account-credentials=true" \
{% if k3s_setup__control_plane_no_schedule %}
    --node-taint node-role.kubernetes.io/control-plane:NoSchedule \
{% endif %}
    --secrets-encryption \
{% if k3s_setup__service_cidr | length > 0 %}
    --service-cidr {{ k3s_setup__service_cidr }} \
{% endif %}
    --tls-san {{ k3s_setup__control_plane_vip }} \
    \
{% elif inventory_hostname in k3s_setup__agents %}
  agent \
    \
    --server https://{{ hostvars[k3s_setup__servers[0]].k3s_setup__interface.addresses[0].address | ansible.utils.ipaddr("address") }}:6443 \
    \
{% endif %}
{% if k3s_setup__log %}
    --alsologtostderr \
{% endif %}
{% if k3s_setup__debug %}
    --debug \
{% endif %}
    --flannel-iface {{ k3s_setup__interface.device }} \
    --kubelet-arg="make-iptables-util-chains=true" \
    --kubelet-arg="streaming-connection-idle-timeout=5m" \
{% if k3s_setup__log %}
    --log /var/log/k3s/k3s_${DATE}.log \
{% endif %}
    --node-ip {{ k3s_setup__interface.addresses[0].address | ansible.utils.ipaddr("address") }} \
    --node-name {{ k3s_setup__interface.addresses[0].hostname }} \
    --prefer-bundled-bin \
    --protect-kernel-defaults \
    --token {{ k3s_setup__token }}
