apiVersion: apiserver.config.k8s.io/v1
kind: AdmissionConfiguration
plugins:
  - name: PodSecurity
    configuration:
      apiVersion: pod-security.admission.config.k8s.io/v1beta1
      kind: PodSecurityConfiguration
      defaults:
        enforce: {{ k3s_setup__psa_default_policy }}
        enforce-version: latest
        audit: {{ k3s_setup__psa_default_policy }}
        audit-version: latest
        warn: {{ k3s_setup__psa_default_policy }}
        warn-version: latest
      exemptions:
        usernames: []
        runtimeClasses: []
        namespaces:
          - cis-operator-system
          - kube-system
          - longhorn-system
