# {{ ansible_managed }}

# interface "lo"
127.0.0.1 localhost localhost.localdomain localhost4 localhost4.localdomain4

{% for i in linux_network__interfaces %}
# interface "{{ i.device }}" with common name "{{ i.name | default(i.device) }}"
{%   for a in i.addresses | default([]) %}
{%     if a.hostname is defined %}
{{ a.address | ansible.utils.ipaddr("address") }} {{ a.hostname }}{% if "." in a.hostname %} {{ a.hostname.split(".")[0] }}
{%       endif %}
{%     endif %}
{%   endfor %}
{%   if not loop.last %}

{%   endif %}
{% endfor %}


# additional hosts
{% for i in linux_network__hosts_all %}
{{ i.address | ansible.utils.ipaddr('address') }} {{ i.hostname }}
{% endfor %}
