{# run "man nm-settings-ifcfg-rh" for more info #}
# {{ ansible_managed }}

# interface "{{ item.device }}" with common name "{{ item.name | default(item.device) }}"
BOOTPROTO=none
{% if item.default | default(false) %}
DEFROUTE=yes
{% else %}
DEFROUTE=no
{% endif %}
DEVICE={{ item.device }}
{% for i in linux_network__dns_servers %}
DNS{{ loop.index }}={{ i }}
{% endfor %}
DOMAIN={{ linux_network__dns_search_domain }}
IPV6INIT=no
NAME={{ item.device }}
ONBOOT=yes
TYPE=Ethernet
{% for i in item.addresses | default([]) %}
IPADDR{% if not loop.first %}{{  loop.index }}{% endif %}={{ i.address | ansible.utils.ipaddr('address') }}
PREFIX{% if not loop.first %}{{  loop.index }}{% endif %}={{ i.address | ansible.utils.ipaddr('prefix') }}
GATEWAY{% if not loop.first %}{{ loop.index }}{% endif %}={{ i.gateway }}
{% endfor %}
