{# https://wiki.debian.org/NetworkConfiguration #}
{# https://wiki.debian.org/Bonding #}
{# https://wiki.debian.org/BridgeNetworkConnections #}
{# https://manpages.debian.org/bookworm/ifupdown/interfaces.5.en.html #}
{# https://manpages.debian.org/bookworm/ifupdown2/interfaces.5.en.html #}
{# https://manpages.debian.org/bookworm/ifupdown2/ifupdown-addons-interfaces.5.en.html #}
{# https://manpages.debian.org/bookworm/bridge-utils/bridge-utils-interfaces.5.en.html #}
# {{ ansible_managed }}

# interface "lo"
auto lo
iface lo inet loopback

{% for i in linux_network__interfaces %}
# interface "{{ i.device }}" with common name "{{ i.name | default(i.device) }}"
auto {{ i.device }}
{%   if i.addresses is defined and i.addresses | length > 0 %}
{%     for a in i.addresses %}
iface {{ i.device }} inet static
  address {{ a.address }}
{%       if loop.first %}
{%         if i.default is defined and i.default is true %}
  gateway {{ a.gateway }}
{%         endif %}
{%       endif %}
{%       if i.routing | default(true) %}
  # policy-based routing rules, redirect to table "{{ i.name | default(i.device) }}"
  post-up  ip rule  add    from {{ a.address | ansible.utils.ipaddr("address") }} lookup {{ i.name | default(i.device) }}
  pre-down ip rule  delete from {{ a.address | ansible.utils.ipaddr("address") }} lookup {{ i.name | default(i.device) }}
{%         if loop.first %}
  # policy-based routing table "{{ i.name | default(i.device) }}"
  post-up  ip route add    default via {{ a.gateway }} dev {{ i.device }} table {{ i.name | default(i.device) }}
  pre-down ip route delete default via {{ a.gateway }} dev {{ i.device }} table {{ i.name | default(i.device) }}
  post-up  ip route add    {{ a.address | ansible.utils.ipaddr("network/prefix") }} dev {{ i.device }} table {{ i.name | default(i.device) }}
  pre-down ip route delete {{ a.address | ansible.utils.ipaddr("network/prefix") }} dev {{ i.device }} table {{ i.name | default(i.device) }}
  # additional routes
{%           for r in linux_network__routes_all %}
{%             if r.via == i.device or r.via == i.name | default(i.device) %}
  # route "{{ r.name }}"
  post-up  ip route add    {{ r.address }} via {{ a.gateway }} dev {{ i.device }}
  pre-down ip route delete {{ r.address }} via {{ a.gateway }} dev {{ i.device }}
{%             endif %}
{%           endfor %}
{%         endif %}
{%       endif %}
{%     endfor %}
{%   else %}
iface {{ i.device }} inet manual
{%   endif %}
{%   if i.bond is defined %}
  # bonding
  bond-miimon {{ i.bond.miimon | default(100) }}
  bond-mode {{ i.bond.mode | default("802.3ad") }}
  bond-slaves {{ i.bond.slaves | default(["none"]) | join(" ") }}
{%   endif %}
{%   if i.bridge is defined %}
  # bridging
  bridge-fd {{ i.bridge.fd | default(0) }}
  bridge-ports {{ i.bridge.ports | default(["none"]) | join(" ") }}
  bridge-stp {% if i.bridge.stp | default(false) %}on{% else %}off{% endif %}

{%     if i.bridge.vlan_aware is defined and i.bridge.vlan_aware %}
  bridge-vids {{ i.bridge.vids | default("2-4094") }}
  bridge-vlan-aware {% if i.bridge.vlan_aware | default(false) %}yes{% else %}no{% endif %}

{%     endif %}
{%   endif %}
{%   if not loop.last %}

{%   endif %}
{% endfor %}
