{# https://netplan.readthedocs.io/en/1.0/netplan-yaml #}
# {{ ansible_managed }}
network:
  version: 2
{%  for i in linux_network__interfaces | selectattr("bond", "defined") %}
{%    if loop.first %}
  bonds:
{%    endif %}
    # interface "{{ i.device }}" with common name "{{ i.name | default(i.device) }}"
    {{ i.device }}:
      interfaces:
{%    for p in i.bond.slaves | default([]) %}
        - {{ p }}
{%    endfor %}
      nameservers:
        addresses:
{%    for s in linux_network__dns_servers %}
          - {{ s }}
{%    endfor %}
        search:
          - {{ linux_network__dns_search_domain }}
      parameters:
        mii-monitor-interval: {{ i.bond.miimon | default(100) }}
        mode: {{ i.bond.mode | default("802.3ad") }}
{%  endfor %}
{%  for i in linux_network__interfaces | selectattr("bridge", "defined") %}
{%    if loop.first %}
  bridges:
{%    endif %}
    # interface "{{ i.device }}" with common name "{{ i.name | default(i.device) }}"
    {{ i.device }}:
      interfaces:
{%    for p in i.bridge.ports | default([]) %}
        - {{ p }}
{%    endfor %}
      nameservers:
        addresses:
{%    for s in linux_network__dns_servers %}
          - {{ s }}
{%    endfor %}
        search:
          - {{ linux_network__dns_search_domain }}
      parameters:
        forward-delay: {{ i.bridge.fd | default(0) }}
        stp: {% if i.bridge.stp | default(false) %}true{% else %}false{% endif %}
        {% if i.bridge.vids is defined or i.bridge.vlan_aware is defined %}
        # netplan does not support vlan-aware bridges: https://bugs.launchpad.net/netplan/+bug/1793128
        {% endif %}
{%  endfor %}
{%  for i in linux_network__interfaces | selectattr("addresses", "defined") %}
{%    if loop.first %}
  ethernets:
{%    endif %}
    # interface "{{ i.device }}" with common name "{{ i.name | default(i.device) }}"
    {{ i.device }}:
      addresses:
{%    for a in i.addresses %}
        - {{ a.address }}
{%    endfor %}
{%    for a in i.addresses %}
{%      if loop.first and i.default is defined and i.default is true %}
      gateway4: {{ a.gateway }}
{%      endif %}
{%    endfor %}
      nameservers:
        addresses:
{%    for s in linux_network__dns_servers %}
          - {{ s }}
{%    endfor %}
        search:
          - {{ linux_network__dns_search_domain }}
{%    if i.routing | default(true) %}
      # policy-based routing table "{{ i.name | default(i.device) }}"
      routes:
{%      for a in i.addresses %}
{%        if loop.first %}
        - table: {% for j in linux_network__interfaces %}{% if i.device == j.device %}{{ loop.index }}{% endif %}{% endfor %}

          to: default
          via: {{ a.gateway }}
        - table: {% for j in linux_network__interfaces %}{% if i.device == j.device %}{{ loop.index }}{% endif %}{% endfor %}

          to: {{ a.address | ansible.utils.ipaddr("network/prefix") }}

{%          for r in linux_network__routes_all %}
{%            if loop.first %}
        # additional routes
{%            endif %}
{%            if r.via == i.device or r.via == i.name | default(i.device) %}
        # route "{{ r.name }}"
        - to: {{ r.address }}
          via: {{ a.gateway }}
{%             endif %}
{%           endfor %}
{%        endif %}
{%      endfor %}
      # policy-based routing rules, redirect to table "{{ i.name | default(i.device) }}"
      routing-policy:
{%      for a in i.addresses %}
        - from: {{ a.address | ansible.utils.ipaddr("address") }}
          table: {% for j in linux_network__interfaces %}{% if i.device == j.device %}{{ loop.index }}{% endif %}{% endfor %}

{%      endfor %}
{%    endif %}
{%  endfor %}
