# {{ ansible_managed }}

# policy-based routing table "{{ item.name | default(item.device) }}"
{% for i in item.addresses | default([]) %}
{%   if loop.first %}
{# outgoing packets by default via subnet gateway #}
default via {{ i.gateway }} table {{ item.name | default(item.device) }}
{# outgoing packets directly to addresses inside the subnet #}
{{ i.address | ansible.utils.ipaddr('network/prefix') }} dev {{ item.device }} table {{ item.name | default(item.device) }}
{%   endif %}
{% endfor %}

# additional routes
{% for r in linux_network__routes_all %}
{%   if r.via == item.device or r.via == item.name | default(item.device) %}
{%     for a in item.addresses | default([]) %}
{%       if loop.first %}
# route "{{ r.name }}"
{{ r.address }} via {{ a.gateway }} dev {{ item.device }}
{%       endif %}
{%     endfor %}
{%   endif %}
{% endfor %}
