# {{ ansible_managed }}
255 local
254 main
253 default
0 unspec
{% for i in linux_network__interfaces %}
# interface "{{ i.device }}" with common name "{{ i.name | default(i.device) }}"
{{ loop.index }} {{ i.name | default(i.device) }}
{% endfor %}
