# {{ ansible_managed }}

# policy-based routing rules, redirect to table "{{ item.name | default(item.device) }}"
{# incoming packages = "to", outgoing packages = "from" #}
{% for i in item.addresses | default([]) %}
from {{ i.address | ansible.utils.ipaddr('address') }}/32 table {{ item.name | default(item.device) }}
{% endfor %}
